@font-face{
  src:url('fonts/billyohio.otf');
  font-family:bill;
}
@font-face{
  src:url('fonts/ohio.ttf');
  font-family:bill;
}

@font-face{
  src:url('fonts/neo.ttf');
  font-family:neo;
}
@font-face{
  src:url('fonts/CaviarDreams.ttf');
  font-family:cav;
}

/*body{
	background-color: #1881fa;
}
*/


@font-face {
  font-family: neo;
  src: url(fonts/neo.ttf);
  
}

.imp{
  font-size: 20px;
  font-family: cav;
  color: #1881fa;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
.imp span{
  font-size: 25px;
  font-family:cav;
  margin-top: -10vh;
  color: #1881fa;
  font-weight: bolder;
  margin-left: 2%;
  text-transform: capitalize;
}
.title{
	font-size: 100px;
	letter-spacing: 1px;
    padding-top: 130px;
    color: white;
    font-family: bill;
      color: #1881fa;
      display: table;
      margin-right: auto;
      margin-left: auto;

}

.title:hover{
	opacity: 0.5;
	transition: 0.5s;
}

.con{
	margin-top: 50px;
	margin-left: 170px;
	margin-right: 20px;	width: 1000px;
	background-color: white;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    background-color: #1881fa;

}
.con2 {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.con2 h1{
  padding-top: 10px;
  padding-left: 35px;
  font-family:neo;
  font-size: 40px;
  line-height: 35px;
  color: #fff;
  background-color: #1881fa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bolder;

}
.p{
	padding-top: 10px;
	padding-left: 35px;
	font-family: neo;
	font-size: 20px;
	line-height: 35px;
  color: #6d6d6d;
 padding-bottom:40px;
 line-height: 40px;
 text-transform: capitalize;
}

.p span{
  float: right;
  font-size: 15px;
  color: #444;
  padding-right: 20px;
}
@media(max-width: 900px){}
.custom-btn{
        margin-left: 30%!important;
      }

  .con2{
    width: 100%;
    
  }
  .p{
    font-size: 20px;
    margin-top: 100px;
    text-transform: capitalize;
  }
}
@media only screen 
  and (min-device-width: 100px) 
  and (max-device-width: 580px)
  { 
      .custom-btn{
        margin-left: 40%!important;
      }
      .btn-4{
        width: 100px;
        height: 30px;
      }
      .btn-4 span{
        font-size: 12px;
        padding-top: 5px;
      }
      }


.a{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

header{z-index: 102;
  width: 100%;
  position: absolute;
  background-color: #252525;
  top: 0px;
  left: 0px;
  }
header img{
  width: 60px;
  float: left;
  padding:  10px;


}
header ul{
  list-style-type: none;
  float: right;
  margin-right: 70px;
}
header ul li{
float: right;
cursor: pointer;
display: inline-block;
font-size: 17px;
color: #fff;
padding-right: 10px;
padding-top: 10px;
margin-right: 10px;
font-family:neo;

}

.underline {
  width: 0px;
  height: 2px;
  background: #4db7f8;
  top: 25px;
  transition: all .25s ease;
 }

li:hover .underline {
  width: 100%; }
.topimg{
  width: 150px;
  margin-top: 15%;
  margin-left: 43%;

}

.button{
      display:block;
      padding: 9px 40px;
      text-align: center;
      color: #fff;
      background-color: #4350b7;
      border: 5px;
        border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
      cursor: pointer;
      margin-top: 20px;

    }
    .button:hover{
      background: linear-gradient(227deg, #00dbdd, #3263c6, #4634a8);
background-size: 600% 600%;
transition: .6s;
color: white;
-webkit-animation: anim 3s ease infinite;
-moz-animation: anim 3s ease infinite;
animation: anim 3s ease-in-out infinite;
    }

@-webkit-keyframes anim {
    0%{background-position:0% 49%;}
    50%{background-position:100% 52%;}
    100%{background-position:0% 49%;}
}
@-moz-keyframes anim {
    0%{background-position:0% 49%;}
    50%{background-position:100% 52%;}
    100%{background-position:0% 49%;}
}
@keyframes anim { 
    0%{background-position:0% 49%;}
    50%{background-position:100% 52%;}
    100%{background-position:0% 49%;}
}   


.custom-btn {
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  margin-top: 50px; 
  margin-left: 80vh;
}
.btn-4 {
  width: 200px;
  height: 60px;
  padding: 0;
  border: none;
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 15px;
  height: 100%;
  color: #444;
  font-size: 25px;
  font-weight: 600;
  font-family: neo;
}
.btn-4:before, .btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #0062DD;
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 50%;
  width: 2px;
}
.btn-4:after {
  width: 20%;
  height: 2px;
}
.btn-4:hover:before {height: 100%;}
.btn-4:hover:after {width: 100%;}
.btn-4 span:before, .btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #0062DD;
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: 2px;
  height: 50%;
}
.btn-4 span:after {
  width: 20%;
  height: 2px;
}
.btn-4 span:hover:before {height: 100%;}
.btn-4 span:hover:after {width: 100%;}